#save {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    letter-spacing: .1em;
    text-transform: uppercase;
    font-weight: 500;
    font-size: .6rem;
    line-height: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    --tw-bg-opacity: 1;
    background-color: rgb(31 41 55 / var(--tw-bg-opacity));
    border-color: transparent;
    border-width: 1px;
    border-radius: 0.375rem;
    align-items: center;
    display: inline-flex;
}